
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


body{
    margin: 0;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
  font-style: normal
}

body * {
    box-sizing: border-box;
}

.form-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fde3afd7;
    padding: 1rem;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background: #ec9edc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    color: #000;
}

.left-login-image{
    font-size: 3vw;
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #d3dde5;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color:#000;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background:#fff ;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #853b3b56;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #000;
    margin-bottom: 10px;
}

.textefield > input ::placeholder {
    color: #8692de;
}

.rodape{
    margin-top: 0px !important;
    padding-top: 10px;
}
.rodape1{
    margin-bottom: 0px !important;
    padding-bottom: 10px;

}

.btn-login:hover {
    background-color: #f39ee8;
}

footer {
    
    background: rgba(230, 126, 214, 0.507) none repeat scroll 0% 0%;
    width: 100vw; /* Largura total da página */
    color: #0a0a0a; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 0px !important; /* Espaçamento interno */
    bottom: 0px !important; /* Alinha ao fundo da página */
    margin-left: auto !important;
    margin-right: auto !important;
    color: #070707;
    font-size: 1rem; /*Tamanho da fonte*/

    
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #0f0f0f;
    background: #d8d8d8;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #000;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login {
        flex-direction: column;
    } 
    .left-login > h1 {
        display: none;
    }

    .right-login{
        width: auto;
    }

    .left-login-image{
        width: 50vw;
    }

    .card-login{
        width: 90vw;
    }
}